{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:url" content="http://www.4ducks.ru">
<meta name="twitter:title" content="{{ SITENAME }}">
<meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

<!-- Facebook Meta Data -->
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:description" content="{{ SIDEBAR_DIGEST }}" />
<meta property="og:image" content="{{ AVATAR }}" />
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<table>
	{% for article in (articles_page.object_list if articles_page else articles) %}
	<tr>
		<td><span class="post_date">{{ article.locale_date }}</span></td>
		<td><h2 class="post_title"><a href="http://www.4ducks.ru/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2></td>
	</tr>
	{% endfor %}
</table>
{% endif %}

{% if articles_page and articles_paginator.num_pages > 1 %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}